.message-list {
  display: flex;
  flex-direction: column;
  justify-content: end;
  row-gap: 30px;

  &__message {
    padding: 3px;
    background-color: #d9fdd3;
    display: inline;
  }

  &__message_sent {
    text-align: end;
  }

  &__message_received {
    text-align: start;
  }
}