.message-list {
  padding-right: 5px;
  padding-left: 5px;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    width: 0;
  }

  &__message {
    padding: 5px;
    background-color: #d9fdd3;
    display: inline;
    word-break: break-all;
    line-height: 1.5;
  }

  &__message_sent {
    text-align: end;
    margin-top: 30px;
  }

  &__message_received {
    text-align: start;
    margin-top: 30px;
  }
}